body{
    border-top: 8px solid;
    border-top-color: #1DB954;
    height: 100%;
    margin: 0;
    position: relative;
    width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, minmax(100px, auto));
    grid-template-areas: 
    "header header header header header"
    "sidebar sidebar sidebar sidebar sidebar"
    "main main main main main"
    "section section section section section"
    "footer footer footer footer footer";
}

header{
    align-items: center;
    background-image: url(banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    grid-area: header;
    height: 400px;
    justify-content: space-evenly;
    /* padding: 0 10px; */
    width: 100%;
}

header .it-header p:nth-child(1){
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 28pt;
}

header .it-header p:nth-child(2){
    color: white;
    font-family: sans-serif;
    font-size: 14pt;
}

span{
    color: #1DB954;
}

.hand-header{
    margin: 0;
    height: 100%;
}

.hand-header img{
    height: 85%;
    padding: 60px 0 0 0;
}

.it-header{
    height: 100%;
    padding: 80px 0 0 0;
    width: 350px;
}

.icones-header{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.icone-ios, .icone-android, .icone-windows{
    background-color: black;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    height: 50%;
    opacity: 0.5;
    padding: 10px;
}

.icone-ios img, .icone-android img, .icone-windows img{
    height: 20px;
    align-items: center;
    justify-content: center;
    width: 20px;
}

.icone-ios:hover, .icone-android:hover, .icone-windows:hover{
    background-color: #1DB954;
    border: 1px solid #1DB954;
    opacity: 1;
    cursor: pointer;
}

.sidebar{
    align-items: center;
    background-color: white;
    display: flex;
    grid-area: sidebar;
    height: auto;
    justify-content: space-around;
    padding: 50px 0;
    width: 100%;
}

.sidebar-icones{
    align-items: center;
    display: flex;
    justify-content: center;
}

.sidebar-icones img{
    background-color: #1DB954;
    border: 1px solid #1DB954;
    border-radius: 100%;
    display: flex;
    height: 35px;
    padding: 20px;
    width: 35px;
}

.sidebar-c1, .sidebar-c2, .sidebar-c3 {
    text-align: center;
    height: 150px;
    width: 250px;
}

.sidebar-c1 p:nth-child(2), .sidebar-c2 p:nth-child(2), .sidebar-c3 p:nth-child(2){
    font-family: sans-serif;
    font-size: 14pt;
}

.sidebar-c1 p:nth-child(3), .sidebar-c2 p:nth-child(3), .sidebar-c3 p:nth-child(3){
    color: grey;
    font-family: sans-serif;
    font-size: 11pt;
}

main{
    align-items: center;
    background-color: lightgray;
    display: flex;
    grid-area: main;
    height: auto;
    justify-content: space-evenly;
    padding: 50px 0;
    width: 100%;
}

main .main-texto{
    font-family: sans-serif;
    height: 300px;
    width: 500px;
}

main .main-texto p:nth-child(1){
    font-size: 14pt;
}

main .main-texto p:nth-child(2){
    color: grey;
    font-size: 11pt;
}

main .main-texto .input-btn{
    color: white;
    cursor: pointer;
    background-color: #1DB954;
    border: 1px solid #1DB954;
    border-radius: 0 15px 15px 0;
    font-size: 12pt;
    padding: 10px 30px;
}

main .main-texto .input-email{
    border: 1px solid white;  
    border-radius: 15px 0 0 15px;
    padding: 13px 20px;
    width: 220px;
}

main .main-inputs{
    display:flex;
}

main .main-video video source{
    border-radius: 15px;
    height: 300px;
    width: 450px;
}


section{
    align-items: center;
    background-color: white;
    display: flex;
    grid-area: section;
    height: auto;
    justify-content: space-around;
    padding: 50px 0;
    width: 100%;
}

section .section-conteudo{
    text-align: center;
    width: 900px;
}

section p:nth-child(1), section p:nth-child(5){
    color: grey;
    font-family: sans-serif;
    font-size: 11pt;
}

section p:nth-child(2){
    font-family: sans-serif;
    font-size: 14pt;
}

section .section-img{
    display: flex;
    justify-content: space-around;
}

section .section-img2{
    background-color: #1DB954;
    height: 48px;
    width: 48px;
}

section .section-img img{
    height: 100%;
}

section .section-img img:hover{
    opacity: 0.5;
    cursor: pointer;
}

section p:nth-child(4){
    font-family: sans-serif;
    font-size: 18pt;
    padding: 20px 0 0 0;
}

section .section-icons{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

section .section-icons2{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 35%;
}

.icon-twitter, .icon-facebook, .icon-pinterest, .icon-google, .icon-linkedin, .icon-yt{
    background-color: darkgrey;
    border: 1px solid darkgray;
    border-radius: 100%;
    display: flex;
    height: 50%;
    padding: 10px;
}

.icon-twitter img, .icon-facebook img, .icon-pinterest img, .icon-google img, .icon-linkedin img, .icon-yt img{
    height: 15px;
    align-items: center;
    justify-content: center;
    width: 15px;
}

.icon-twitter:hover, .icon-facebook:hover, .icon-pinterest:hover, .icon-google:hover, .icon-linkedin:hover, .icon-yt:hover{
    background-color: #1DB954;
    border: 1px solid #1DB954;
    opacity: 1;
    cursor: pointer;
}

footer{
    align-items: center;
    background-color: lightgrey;
    display: flex;
    grid-area: footer;
    height: auto;
    justify-content: space-around;
    padding: 50px 0;
    width: 100%;
}

footer .footer-conteudo{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

footer p{
    color:gray;
    font-family: sans-serif;
    font-size: 11pt;
}

footer p:hover{
    color: #1DB954;
    cursor: pointer;
}

.menu-hamburguer{
    align-items: center;
    cursor: pointer;
    display: none;
    flex-direction: column; 
    justify-content: center;
    width: 30px;
}
.traco{
    background-color: white;
    border-radius: 0 30px;
    height: 3px;
    margin: 3px 0;
    width: 100%;
}

@media (max-width: 768px) {
    header{
    align-items: center;
    background-image: url(banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    grid-area: header;
    height: 250px;
    justify-content: center;
    width: 100%;
    }

    .hand-header{
        display: none;
    }

    .it-header{
        padding: 10px 0 0 0;
        text-align: center;
    }

    .icones-header{
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    header .it-header p:nth-child(1){
        color: black;
        font-family: 'Pacifico', cursive;
        font-size: 28pt;
    }

    .it-header p:nth-child(2){
        display: none;
    }

    .sidebar{
        padding: 25px 0;
    }

    .sidebar-icones img{
        background-color: #1DB954;
        border: 1px solid #1DB954;
        border-radius: 100%;
        display: flex;
        height: 25px;
        padding: 10px;
        width: 25px;
    }

    .sidebar-c1, .sidebar-c2, .sidebar-c3{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sidebar-c1 p:nth-child(2), .sidebar-c2 p:nth-child(2), .sidebar-c3 p:nth-child(2){
        font-family: sans-serif;
        font-size: 12pt;
    }

    .sidebar-c1 p:nth-child(3), .sidebar-c2 p:nth-child(3), .sidebar-c3 p:nth-child(3){
        display: none;
    }

    main{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        padding: 25px 0;
        width: 100%;
    }
    
    main .main-texto{
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 150px;
        justify-content: center;
        width: 250px;
    }

    main .main-texto p:nth-child(2){
        display: none;
    }

    video{
        display: none;
    }

    
    main .main-texto .input-email{
        width: auto;
    }

    section{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        padding: 25px 0;
        width: 100%;
    }

    section .section-conteudo{
        text-align: center;
        width: 100%;
    }

    section .section-img{
        display: none;
    }

    section p:nth-child(1), section p:nth-child(5){
        display: none;
    }
    
    section p:nth-child(2){
        display: none;
    }

    footer{
        padding: 25px 0;
    }

    footer .footer-conteudo{
        width: 100%;
    }
}

