.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, minmax(100px, auto));
    grid-template-areas: 
    "header header header header"
    "header header header header"
    "header header header header"
    ". sidebar sidebar ."
    "main main main main"
    "section section section section"
    "footer footer footer footer";
}

header{
    grid-area: header;
    height: 100%;
    position: relative;
    width: 100%;
}

.banner{
    background-image: url(banner.png);
    height: 100%;
    position: absolute;
    width: 100%;
}

.sidebar{
    grid-area: sidebar;
    background-color: lightcoral;
}

main{
    grid-area: main;
    background-color: green;
}

section{
    grid-area: section;
    background-color: red;
}

footer{
    grid-area: footer;
    background-color: blue;
}