body{
    margin: 8px 0px 0px 0px;
    width: 100vw;
    height: 100vw;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, minmax(100px, auto));
    grid-template-areas: 
    "header header header header header"
    "sidebar sidebar sidebar sidebar sidebar";
    /* "main main main main"
    "section section section section"
    "footer footer footer footer"; */
}

header{
    align-items: center;
    background-image: url(banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    grid-area: header;
    height: 400px;
    justify-content: space-evenly;
    padding: 0 10px;
    width: 100%;
}

header .it-header p:nth-child(1){
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 28pt;
}

header .it-header p:nth-child(2){
    color: white;
    font-family: sans-serif;
    font-size: 14pt;
}

span{
    color: #1DB954;
}

.hand-header{
    margin: 0;
    height: 100%;
}

.hand-header img{
    height: 85%;
    padding: 60px 0 0 0;
}

.it-header{
    height: 100%;
    padding: 80px 0 0 0;
    width: 350px;
}

.icones-header{
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.icone-ios, .icone-android, .icone-windows{
    background-color: black;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    height: 50%;
    opacity: 0.5;
    padding: 10px;
}

.icone-ios img, .icone-android img, .icone-windows img{
    height: 20px;
    align-items: center;
    justify-content: center;
    width: 20px;
}

.icone-ios:hover, .icone-android:hover, .icone-windows:hover{
    background-color: #1DB954;
    border: 1px solid #1DB954;
    opacity: 1;
    cursor: pointer;
}

.sidebar{
    align-items: center;
    background-color: white;
    display: flex;
    grid-area: sidebar;
    height: auto;
    justify-content: space-around;
    padding: 50px 70px;
    width: 100%;
}

.sidebar-icones{
    align-items: center;
    display: flex;
    justify-content: center;
}

.sidebar-icones img{
    background-color: #1DB954;
    border: 1px solid #1DB954;
    border-radius: 100%;
    display: flex;
    height: 25%;
    padding: 10px;
}


.sidebar-c1, .sidebar-c2, .sidebar-c3 {
    text-align: center;
    height: 150px;
    width: 290px;
}

.sidebar-c1 p:nth-child(2), .sidebar-c2 p:nth-child(2), .sidebar-c3 p:nth-child(2){
    font-family: sans-serif;
    font-size: 14pt;
}

.sidebar-c1 p:nth-child(3), .sidebar-c2 p:nth-child(3), .sidebar-c3 p:nth-child(3){
    color: darkslategrey;
    font-family: sans-serif;
    font-size: 11pt;
}

/* main{
    grid-area: main;
    background-color: green;
}

section{
    grid-area: section;
    background-color: red;
}

footer{
    grid-area: footer;
    background-color: blue;
} */